BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true